<!-- section #Music -->
<section class="section" id="alben" >
  <h1 class="headline headline--section">{{ component.title }}</h1>

  <div class="alben grid" data-grid="left">


      {% for album in alben %}

        {% set composer = album.get_field('composer') | get_composer %}
        {% set image = album.get_field('cover') %}

        <div class="album grid__item" data-grid="12/12" data-grid--small="6/12" data-grid--medium="3/12" data-song-cat="{{album.id|get_song_type}}">
          <div class="album__cover has--gradient has--gradient-hover-out">
            <img class="album__image" src="{{ TimberImage(image) | resize('300') }}" alt="{{image.alt}}"/>
          </div>
          <h3 class="album__title">{{album.title}}</h3>
          <div class="album__composer">{{composer}}</div>

          <script class="album__overlay" type="text/html">
            <div class="album__detail" data-song-cat="{{album.id|get_song_type}}">
              <div class="album__cover has--gradient">
                <img class="album__image" src="{{ TimberImage(image) | resize('400') }}" />
              </div>
              <div class="album__detailText">
                <h2 class="album__title">{{album.title}}</h2>
                <h3 class="album__composer">{{composer}}</h3>
                <p class="album__description">{{album.description}}</p>
                <a class="album__publisher" href="{{album.publisher_url}}">
                  {{album.publisher}}
                </a>
              </div>
            </div>
          </script>
        </div>

      {% endfor %}
  </div>

  {% include 'components/album-swiper.twig' %}

</section>
