<!-- section #Music -->
<section class="section" id="alben" >
  <h1 class="headline headline--section">{{ component.title }}</h1>

  <div class="alben grid" data-grid="left">


      {% for album in alben %}

        {% set composer = album.get_field('composer') | get_composer %}
        {% set image = TimberImage(album.cover) %}

        <div class="album grid__item" data-grid="3/12" data-song-cat="{{album.id|get_song_type}}">
          <div class="album__cover has--gradient has--gradient-hover-out">
            <img class="album__image" src="{{image.src}}" alt="{{image.caption}}"/>
          </div>
          <h3 class="album__title">{{album.title}}</h3>
          <div class="album__composer">{{composer}}</div>

          <div class="album__detail">
            <img class="album__cover" src="{{image}}" />
            <h2 class="album__title">{{album.title}}</h2>
            <p class="album__description">{{album.description}}</p>
            <a class="album__publisher" href="{{album.publisher_url}}">
              {{album.publisher}}
            </a>
          </div>
        </div>

      {% endfor %}
  </div>

</section>
