<div class="{{component}}">

  <div class="{{component}}__buttons">
    <div class="{{component}}__prev">{% include 'components/icon.twig' with {type: 'controller-jump-to-start'} %}</div>
    <div class="{{component}}__playPause">
      <div class="{{component}}__play">{% include 'components/icon.twig' with {type: 'controller-play'} %}</div>
      <div class="{{component}}__paus">{% include 'components/icon.twig' with {type: 'controller-paus'} %}</div>
    </div>
    <div class="{{component}}__next">{% include 'components/icon.twig' with {type: 'controller-next'} %}</div>
  </div>

  <div class="{{component}}__timeline">
    <span class="timeline__bar"></span>
    <span class="timeline__start">0:00</span>
    <span class="timeline__end">0:00</span>
  </div>
</div>

