{% set component = 'music-player' %}

<div class="is-sticky" data-bak-sticky="alben" data-sticky-offsetBottom="0">
  <div class="{{component}}">
    <div class="{{component}}__image">
      <img class="{{component}}__cover" src="" />
      <div class="{{component}}__heart">
        {% include 'components/icon.twig' with {type: 'heart-outlined'} %}
        {% include 'components/icon.twig' with {type: 'heart'} %}
      </div>
    </div>

    <div class="{{component}}__information">
      <h3 class="{{component}}__title"></h3>
      <h6 class="{{component}}__meta"></h6>
    </div>

    {% include 'components/' ~ component ~ '-controlls.twig' with { component: component ~ '-controlls'} %}
  </div>
</div>
