<nav class="{{nav.name}} {{nav.class}}">
  <ul class="{{nav.name}}-list">
    {% for item in nav.menu %}
      <li class="{{nav.name}}-list__item {% if loop.index0 == 0%}is-active{% endif %}">{{item.name}}</li>
    {% endfor %}
  </ul>

  {% include 'components/hamburger.twig' with { component: 'hamburger' } %}
</nav>
