<!-- section #Press -->
<section class="section">
  <h1 class="headline headline--section">Presse</h1>

  <div class="{{component}}">

    <nav class="{{component}}__filter">
      <ul>
        <li class="{{component}}-filter__item is-active">Oper</li>
        <li class="{{component}}-filter__item">Lied</li>
        <li class="{{component}}-filter__item">Oratorium</li>
        <li class="{{component}}-filter__item">Alle</li>
      </ul>
    </nav>

    <div class="{{component}}__items">

    {% for item in press %}
      {% include 'components/press-item.twig' %}
    {% endfor %}

    </div>
  </div>

</section>
