<figure class="repertoire__work" data-rep-cat="{{work.id|get_song_type}}">
  <h2 class="repertoire__title">{{work.title}}</h2>
  <figcaption class="repertoire__description">
    <span class="repertoire__role">{{work.get_field('roles')|repertoire_role}}</span>
    <span class="repertoire__text">{{ composer }}</span>
  </figcaption>
  <div class="repertoire__controlls">
    <button>{{ __('Rezension', 'robertholzer-theme') }}</button>
    <button>{{ __('Aufnahme', 'robertholzer-theme') }}</button>
  </div>
</figure>
