<figure class="{{component}}-posts__item">

  <figcaption>
    <h3 class="{{component}}-posts__headline">{{post.title}}</h3>
    <p class="{{component}}-posts__text">{{post.content}}</p>
  </figcaption>

</figure>
